<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231294708018-msikb39cjtru9me9t2j4adgmid9f1njo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231294708018-msikb39cjtru9me9t2j4adgmid9f1njo</string>
	<key>API_KEY</key>
	<string>AIzaSyDKyij6KUZmQWirXdB22S47L65-K3KNRjg</string>
	<key>GCM_SENDER_ID</key>
	<string>231294708018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itmorelia.bran.Naturapp</string>
	<key>PROJECT_ID</key>
	<string>naturapp-92343</string>
	<key>STORAGE_BUCKET</key>
	<string>naturapp-92343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231294708018:ios:10d3d747ffe013d6ee4f2b</string>
</dict>
</plist>